@import "variables";

:host {
  background: $topNavBg;
  color: $topNavTextColor;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 4rem;
  font-size: 2rem;
}

.right {
  justify-self: flex-end;
  margin-left: auto;
}
