:host {
  --topNavHeight: 50px;
  --sideBarWidth: 100px;
}

:host {
  display: grid;
  grid-template-areas:
    "logo top-nav"
    "left content";
  grid-template-rows: var(--topNavHeight) 1fr;
  grid-template-columns: var(--sideBarWidth) 1fr;
}

.logo {
  grid-area: logo;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.top-nav {
  grid-area: top-nav;
}

.left {
  grid-area: left;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.content {
  grid-area: content;
  padding: var(--padding);
  height: calc(100vh - var(--topNavHeight));
  max-height: calc(100vh - var(--topNavHeight));
}
