:host {
  display: grid;
  grid-template-areas:
    "logo top-nav"
    "left content";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 100px 1fr;
}

.logo {
  grid-area: logo;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.top-nav {
  grid-area: top-nav;

}

.left {
  grid-area: left;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.content {
  grid-area: content;
  padding: var(--padding);
  max-width: var(--content-max-width);
}
