<mat-tab-group>

  <mat-tab label="Generate">
    <ng-template matTabContent>
      <igm-hashtag-generate (search)="onSearchHashtags($event)"
                            [hashtags$]="hashtags$"
                            [categories$]="categories$"
                            [categoryCount$]="categoryCount$"></igm-hashtag-generate>
    </ng-template>
  </mat-tab>

  <mat-tab label="My hashtags">
    <ng-template matTabContent>
      <igm-hashtags-add [categories$]="categories$"
                        (add)="onAddHashtag($event)"></igm-hashtags-add>
    </ng-template>
  </mat-tab>

  <mat-tab label="My categories">
    <ng-template matTabContent>
      <igm-category-add (add)="onAddCategory($event)"></igm-category-add>
      <igm-category-list [categories$]="categories$" ></igm-category-list>
    </ng-template>
  </mat-tab>

</mat-tab-group>
