@import "../../../../styles/main";

:host {
  @extend .border;
  max-width: var(--content-max-width);
}

:host(.scroll) {
  mat-selection-list {
    overflow: scroll;
    max-height: 385px;
  }
}

.count {
  @extend .muted;
}

.search {
  padding-left: 15px;
}
