<igm-list-view-page [showSide]="!!(selectedHashtag$ | async)"
                    (showSideChange)="onShowSideChange($event)">

  <ng-container igm-list>
    <igm-hashtag-list [hashtags$]="hashtags$"
                      [multiple]="false"
                      [selectedHashtags]="[selectedHashtag$ | async]"
                      (selectedHashtagsChange)="onSelectedHashtagsChange($event)"></igm-hashtag-list>
  </ng-container>

  <ng-container igm-list-buttons>
    <igm-hashtags-add (add)="onAdd($event)"></igm-hashtags-add>
  </ng-container>

  <ng-container igm-view>
    <igm-hashtag-view [hashtag]="selectedHashtag$ | async"
                      [categories$]="categories$"
                      (categoriesChange)="onCategoriesChange($event)"></igm-hashtag-view>
  </ng-container>

  <ng-container igm-view-buttons>
    <igm-button icon="delete" (click)="onDeleteClick()">Delete</igm-button>
  </ng-container>

</igm-list-view-page>
