@import "variables";

:host {
  display: grid;
  grid-template-areas:
    "logo top-nav"
    "left content";
  grid-template-rows: min(#{$topNavHeight}, #{$topNavMaxHeight}) 1fr;
  grid-template-columns: $sideBarWidth 1fr;
}

@media screen and (max-width: 700px) {
  :host {
    grid-template-areas: "content";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .logo, .top-nav, .left {
    display: none;
  }
}

.logo {
  grid-area: logo;
  background: $topNavBg;
  color: $topNavTextColor;
  max-height: $topNavMaxHeight;

  mat-icon {
    width: 100%;
    padding: 1px;
    height: 100%;
  }
}

.top-nav {
  grid-area: top-nav;
  max-height: $topNavMaxHeight;
}

.left {
  grid-area: left;
  background: $sideNavBg;
  color: $sideNavTextColor;
}

.content {
  grid-area: content;
  padding: 0 $padding;
  height: calc(100vh - min(#{$topNavHeight}, #{$topNavMaxHeight}));
  max-height: calc(100vh - min(#{$topNavHeight}, #{$topNavMaxHeight}));
}
