<div class="list-buttons">
  <ng-content select="[igm-list-buttons]"></ng-content>
</div>

<mat-sidenav-container [autosize]="true">

  <mat-sidenav [opened]="showSide" mode="side" position="end">
    <div class="view">
      <div class="buttons">
        <ng-content select="[igm-view-buttons]"></ng-content>
        <igm-button (click)="showSide = false" icon="arrow_right">Hide</igm-button>
      </div>
      <ng-content select="[igm-view]"></ng-content>
    </div>
  </mat-sidenav>

  <div>
    <div class="list">
      <ng-content select="[igm-list]"></ng-content>
    </div>
  </div>

</mat-sidenav-container>
