@import "variables";

$contentHeight: 68vh;
$contentGutterTop: 67px;

:host {
  display: block;
  height: 100%;

  &.list-error .list {
    border-color: mat-color($igmWarn);
  }
}


.view {
  padding: $halfPadding;
  border: $border;
  height: $contentHeight;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.list {
  display: flex;
  flex-direction: column;
  height: $contentHeight;
  padding: $quarterPadding;
  border: $border;
  max-width: $contentMaxWidth;
}

.list-buttons {
  display: flex;
  align-items: center;
  padding: $halfPadding;
  height: $contentGutterTop;
}

.mat-drawer-container, .mat-drawer-inner-container {
  background: white;
  overflow: visible;
}

.mat-drawer {
  width: 30vw;
  padding: 0 0 0 $halfPadding;
  border: none;
  overflow: visible;
}

@media screen and (max-width: $sizeSm) {

  :host(.show-side) .mat-drawer.mat-drawer-end {
    width: 100%;
  }

  .list {
    max-width: 100%;
  }
}
