igm-root {

  .mat-drawer-inner-container,
  .mat-tab-body.mat-tab-body-active,
  .mat-tab-body-content,
  .mat-tab-body-wrapper,
  .mat-tab-group {
    overflow: visible;
    height: 100%;
  }

  .mat-sidenav-container {
    max-width: 90vw;
  }

  .mat-list-text > * {
    display: inline;
  }

  .mat-spinner {
    margin: auto;
  }

  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0 !important;
  }

  .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.05em) scale(.75);
    width: 133.33333%;
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.125em;
  }
}
