:root {

  --font-size: 10px;
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --padding: 1.5rem;
  --content-max-width: 1000px;


  --nav-bg-color: black;
  --nav-text-color: white;
  --border-color: #bbb;
  --error-color: #e12222;


}
