@import "variables";

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
}

.categories {
  .heading {
    text-align: center;
  }
}

.generate-button-label {
  margin-right: $padding;
}
