<igm-list-view-page [showSide]="!!(hashtagSearchResults$ | async)"
                    (showSideChange)="onShowSideChange($event)"
                    [class.list-error]="submitted && !selectedCategories.length"
                    class="reduce-view-padding">

  <ng-container igm-list>
    <igm-category-list [categories$]="categories$"
                       [withCounts]="true"
                       [multiple]="true"
                       [loading$]="categoriesLoading$"
                       [(selectedCategories)]="selectedCategories"></igm-category-list>
  </ng-container>

  <ng-container igm-view>
    <igm-hashtag-search-results [searchResults]="hashtagSearchResults$ | async"></igm-hashtag-search-results>
  </ng-container>

  <ng-container igm-list-buttons>
    <span class="medium generate-button-label">
      Select categories below
    </span>

    <igm-button [disabled]="!selectedCategories?.length"
                icon="search"
                (click)="onSearch()">
      Generate random hashtags
    </igm-button>
  </ng-container>
</igm-list-view-page>

