@import "variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: $contentMaxWidth;
}

mat-selection-list {
  overflow: auto;
}

.search {
  padding: $halfPadding $halfPadding 0 $halfPadding;
}
