<div [hidden]="noCategories$ | async"
     class="search">
  <igm-input class="no-padding" icon="search"
             #searchInput>Search</igm-input>
</div>

<div class="error" *ngIf="noCategories$ | async">
  You don't have any categories
</div>

<mat-spinner *ngIf="loading$ | async"></mat-spinner>

<mat-selection-list [multiple]="multiple"
                    [hidden]="noCategories$ | async"
                    [compareWith]="compareWith">

  <mat-list-option *ngFor="let category of (categories$ | async) | igmTextFilter: searchInput.value"
                   [selected]="isSelected(category)"
                   [value]="category">

    <div class="option">
      <span>{{category.text}}</span>
      <span *ngIf="withCounts" class="muted">
        ({{category.hashtags?.length || 0}})
      </span>
    </div>

  </mat-list-option>
</mat-selection-list>
