<div class="search">
  <igm-input class="no-padding" icon="search"
             [(ngModel)]="searchTerm">Search</igm-input>
</div>

<mat-spinner *ngIf="loading$ | async"></mat-spinner>

<mat-selection-list [multiple]="multiple" [compareWith]="compareWith">

  <mat-list-option *ngFor="let category of (categories$ | async) | igmTextFilter: searchTerm"
                   [selected]="isSelected(category)"
                   [value]="category">

    <div class="option">
      <span>{{category.text}}</span>
      <span *ngIf="withCounts" class="muted">
        ({{category.hashtags?.length || 0}})
      </span>
    </div>

  </mat-list-option>
</mat-selection-list>
