@import '~@angular/material/theming';

/*
Theme colors
 */
$igmPrimary: mat-palette($mat-blue-gray);
$igmAccent: mat-palette($mat-light-green);
$igmWarn: mat-palette($mat-red);
/*
Navs
 */
$topNavHeight: 50px;
$topNavBg: mat-color($igmPrimary);
$topNavTextColor: white;
$topNavMaxHeight: 8vh;
$sideBarWidth: 100px;
$sideNavBg: mat-color($igmPrimary);
$sideNavTextColor: white;
/*
Border
 */
$border: 1px solid mat-color($igmPrimary);
/*
Fonts
 */
$fontSize: 10px;
$fontFamily: "Helvetica";
/*
Padding
 */
$padding: 1.5rem;
$halfPadding: 0.75rem;
$quarterPadding: 0.375rem;
/*
Responsive
 */
$sizeSm: 500px;
$sizeMd: 800px;
$sizeLg: 1000px;
$contentMaxWidth: 80vw;
