<mat-drawer-container [autosize]="true">

  <mat-drawer [opened]="showSide" mode="side" position="end">
    <div class="view">
      <div class="buttons">
        <ng-content select="[igm-view-buttons]"></ng-content>
        <igm-button (click)="showSide = false" icon="arrow_right">Hide</igm-button>
      </div>
      <ng-content select="[igm-view]"></ng-content>
    </div>
  </mat-drawer>

  <div>
    <div class="buttons">
      <ng-content select="[igm-list-buttons]"></ng-content>
    </div>
    <div class="list">
      <ng-content select="[igm-list]"></ng-content>
    </div>
  </div>

</mat-drawer-container>
