<div class="search"
     [hidden]="noHashtags$ | async">
  <igm-input class="no-padding"
             icon="search"
             #searchInput>Search</igm-input>
</div>

<div class="error" *ngIf="noHashtags$ | async">
  You don't have any hashtags
</div>

<mat-spinner [diameter]="50"
             class="spinner"
             *ngIf="loading$ | async"></mat-spinner>

<mat-selection-list [multiple]="multiple"
                    [hidden]="noHashtags$ | async"
                    [compareWith]="compareWith">

  <mat-list-option *ngFor="let hashtag of (hashtags$ | async) | igmTextFilter: searchInput?.value"
                   [value]="hashtag"
                   [selected]="isSelected(hashtag)">

    <div>
      <span>#{{hashtag.text}}</span>
      <span *ngIf="withCounts" class="muted">
        ({{hashtag.categories?.length || 0}})
      </span>
    </div>

  </mat-list-option>
</mat-selection-list>
